/* colors
color lightgreen: #03815C;
color darkgreen: #055431;
color red: #BC470D;
color yellow:  #FFD200;

Fonts:
font-family: 'Poiret One', cursive;
font-family: 'Roboto', sans-serif;
*/


/* Generelle queries */
html {
    background-color: #055431;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #144755;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

h1,
h2,
h3,
header {
    font-family: 'Poiret One';
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

a {
    color: #055431;
}

li {
    text-align: start;
}

button {
    font-family: 'Poiret One';
    font-size: 1.8em;
    border: 0;
}


/*               KNAPPER             */


.button {
    background-color: #055431;
    text-decoration: none;
    color: white;
    border-radius: 10em;
    padding: 1em;
}

.buttons {
    margin-top: 2em;
}

.midt {
    text-align: start;
}

.midt h2 {
    text-align: center;
}



/*              HEADER             */

header {
    background: white;
    opacity: 0.97;
    width: 100%;
    padding: 1px;
    z-index: 1000;
}

#logo-burger {
    display: flex;
    align-items: center;
    margin: .5em .5em;
    color: #055431;
}

#logo-burger a {
    margin-right: auto;
    max-width: 200px;
}

#main-nav {
    display: flex;
    margin-right: .5em;
}

header #main-nav a {
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;
    color: black;
}

#main-nav a:hover {
    color: #055431;
}

header #main-nav .active {
    text-decoration: underline #03815C;
}

.hidden {
    display: none;
}



/*          VIDEO TOP FRONTPAGE        */

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}








/*            FOOTER            */

footer {
    background-color: #055431;
    color: white;
}

footer h1 {
    text-align: center;
    margin-top: 0;
}

footer h2 {
    margin-bottom: 0;
}

footer p {
    margin: 0;
}

hr {
    width: 100%;
}


/*            FOOTER MAP            */

footer iframe {
    width: 600px;
    height: 500px;
    border: 0;
    margin: 0;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 50vh;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 90%;
    height: 36vh;
    margin: auto;
}


/*           FOOTER WAVES           */

footer section {
    position: relative;
    width: 100%;
    height: 25vh;
    overflow: hidden;
    background: none;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/images/waveg2.png);
    background-size: 1000px 100px;

}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 900;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 899;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 898;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

section .wave.wave4 {
    animation: animate2 30s linear infinite;
    z-index: 897;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}



/*          LINKS TIL SOCIALE MEDIER FOOTER       */

.some {
    background-color: white;
}

.some p {
    height: 100px;
    padding-top: 40px;
}

.some a {
    text-decoration: none;
    color: #055431;
}

.some img {
    width: 15%;
    float: left;
    margin: 8px;
}

.some h1 {
    text-align: center;
    background-color: #055431;
    padding: 20px;
    color: white;
}

hr {
    border-top: #03815c solid 4px;
}








/*          PARALLAX               */

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

.container .title {
    padding: 6em;
}

.container h1 {
    color: #fff;
    z-index: 10;
    opacity: 0.9;
    text-shadow: 2px 2px #055431;
    letter-spacing: 0.6em;
    font-size: 3em;
}

.container h2 {
    letter-spacing: 0.8em;
    text-align: center;
}

.container h3 {
    font-size: 1.4em;
    margin: 0.5em 0 0 0;
}

.container p {
    text-align: start;
    margin: 0;
    padding: 0 2em;
}

.container address {
    padding: 0 2em;
}

.between {
    height: 40em;
    position: relative;
    background-color: white;
}

.bg {
    width: 100%;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*           PARALLAX BACKGROUND PICTURES         */

.container .parallax {
    width: 100%;
    padding: 25em 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

.container .viden {
    background-image: url(/images/viden.JPG)
}

.container .sam {
    background-image: url(/images/samarbejdspartnere.JPG)
}

.container .jern {
    background-image: url(/images/container.jpg)
}

.container .foredrag1 {
    background-image: url(/images/foredrag1.jpg)
}

.container .foredrag2 {
    background-image: url(/images/foredrag2.jpg)
}

.container .foredrag3 {
    background-image: url(/images/foredragoutsidekids.jpg)
}

.container .foredrag4 {
    background-image: url(/images/foredrag4.jpg)
}

.container .tata {
    background-image: url("/images/esbenogmette.jpg");
}

.container .ta {
    background-image: url(/images/tangplank.JPG)
}

.container .tang {
    background-image: url(/images/tang.JPG)
}

.container .ops {
    background-image: url(/images/tanghakket.jpg)
}

.container .omos {
    background-image: url(/images/firmaet.jpg)
}

.container .teamet {
    background-image: url(/images/metteoganna.jpeg)
}

.container .blog {
    background-image: url(/images/esbencolors.jpg)
}

.container .kont {
    background-image: url(/images/seaweedtable.jpg)
}

.container .sfood {
    background-image: url(/images/seaweedtable.jpg)
}

.container .cat {
    background-image: url(/images/esbenbeach.jpeg)
}

.container .mo {
    background-image: url(/images/oceandiver.JPG)
}

.container .res {
    background-image: url(/images/tangegg.jpg)
}

.container .leas {
    background-image: url(/images/tangaspargessalat.jpg)
}

.container .bd {
    background-image: url(/images/seaweedshore.JPG)
}







/*                ARROW            */

.bottomtext {
    position: absolute;
    bottom: 0;
    height: 8em;
    left: 50%;
    transform: translate(-50%);
}

.bottomtext h1 {
    color: white;
}

.arrow {
    width: 6%;
    -webkit-animation: pulsate-fwd 0.8s ease-in-out infinite both;
    animation: pulsate-fwd 0.8s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/*           FADE OUT          */


.fadeout {
    -webkit-animation: fadeout 5s ease-in;
    -moz-animation: fadeout 5s ease-in;
    animation: fadeout 5s ease-in;
    opacity: 0;
    width: 20%;
    margin: -15em auto 5em auto;
}

.fadeout img {
    width: 30%;
}

@-webkit-keyframes fadeout {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
        z-index: -100;
    }
}

@-moz-keyframes fadeout {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
        z-index: -100;
    }
}

@keyframes fadeout {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
        z-index: -100;
    }
}



/*               VIDEO ERHVERV          */

.video {
    width: 100%;
    height: inherit;
}













/*          KONTAKT FORMULAR UNDER KONTAKT         */


input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: #03815C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #055431;
}


.container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    margin: auto;
}

form #subject {
    height: 100px;
}

.kt .between {
    height: auto;
    padding-bottom: 4em;
}




/*          MAP BOX              */

#map {
    width: 50%;
    height: 400px;
}

.marker {
    background-image: url('/images/marker3.png');
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}




/*               OPSKRIFTER           */


.opskrift {
    background-color: white;
    margin: 10em 0;
}

/*             Blog                 */

main iframe {
    width: 560px;
    height: 315px;
    border: 0;
}


















/* Media queries */

/* Mobil tlf (phones, 600px and down) */

@media all and (max-width: 600px) {

    /*   HEADER NAV    */

    header {
        display: block;
    }

    #some {
        display: none;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
    }

    #main-nav a {
        margin: 20px;
    }

    #main-nav .dropdown-content a {
        font-size: 1em;
    }

    #main-nav a {
        color: white;
    }

    /*              DROPDOWN         */

    .hidden {
        display: none;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }




    /*              FOOTER          */

    footer section {
        background-color: white;
    }

    .kontakt {
        text-align: center;
        padding-bottom: 1em;
    }



    /*               PARALLAX           */

    .between {
        height: inherit;
    }

    .title {
        display: flex;
        flex-direction: column;
    }

    .between .image {
        order: 1;
    }

    .between .txt {
        order: 2;
    }


    /*            MAPBOX              */

    #map {
        width: 100%;
        height: 400px;
    }

}









/*   Større end mobil (computer, tablet osv.)    */
@media only screen and (min-width: 601px) {

    /*   HEADER NAV   */

    header {
        position: fixed;
    }

    #some {
        position: fixed;
        right: 0;
        top: 1%;
        text-align: end;
    }

    #some img {
        width: 5%;
    }

    #main-nav {
        margin: 0;
        background-color: white;
        display: block;
        margin-top: -2.4em;
    }

    header .logo {
        display: block;
        margin: auto;
    }

    #main-nav a {
        margin: 0 .9em;
        font-size: 2em;
    }

    #main-nav {
        display: flex;
    }

    .left {
        width: 40%;
    }

    .right {
        display: flex;
        margin-left: auto;
    }

    #main-nav a:hover {
        color: #cbd9e4;
    }

    label {
        display: none;
    }

    .hidden {
        display: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        font-size: .6em;
    }

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #fff;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }



    /*         FOOTER          */


    footer {
        margin-top: -10em;
    }

    footer h1 {
        text-align: start;
    }

    footer h2 {
        margin-top: .5em;
    }

    .kontakt {
        padding-left: 4em;
        float: left;
    }

    .mapouter {
        position: relative;
        text-align: right;
        width: 50%;
        float: right;
    }


    /*    SOCIALE MEDIER I FOOTER    */

    .some {
        position: absolute;
        right: 0;
        display: inline-block;
        width: 40%;
        right: 30px;
        background-color: #055431;
        padding-top: 40vh;
    }

    .some img {
        width: 10%;
        background-color: white;
        border-radius: 50%;
        padding: 1px;
        display: flex;
        margin: 5px 6%;
    }

    .some p {
        display: none;
    }

    .some hr {
        display: none;
    }

    .some h1 {
        margin-top: 0;
        text-align: start;
        padding: 0;
        background-color: #055431;
        color: white;
    }





    /*            PARALLAX        */

    main .between img {
        width: 40%;
        padding-bottom: 6em;
    }


    /*          MEDIEOMTALE            */

    main .medie img {
        width: 20%;
    }

    .fp header {
        opacity: .8;
    }

    .header:hover main .medie img {
        width: 100%;
    }


    /*             OM OS              */

    main .right {
        float: right;
        width: 50%;
        background-color: white;
        flex-direction: column;
    }

    main .left {
        float: left;
        width: 50%;
        background-color: white;
        flex-direction: column;
    }



    /*        OPSKRIFTER      */

    .opskrift {
        width: 25%;
        display: inline-block;
        margin: 10em 2em;
        padding: 0;
    }



    /*        DIALOG BOKSE         */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .modal_dialog {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .modal_indhold {
        position: absolute;
        border: 1px solid #888;
        padding: 10px;
        font-family: Arial, sans-serif;
    }

    .close {
        position: absolute;
        right: 15px;
        top: 5px;
        color: #000;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover {
        color: red;
    }

    .knappanel {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }

    .knapper {
        width: 55px;
        height: 25px;
        margin-left: 5px;
    }

    /*      Bæredygtighed       */
    .bd .between img {
        width: 30%;
        margin: 5% 10%;
        padding-bottom: 0;
        height: 20em;
    }

    .bd .between li {
        margin-left: 3em;
        margin-top: 1em;
    }


}
